<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" metadata-complete="false" version="5.0">
  <display-name>Archetype Created Web Application</display-name>
  <resource-ref>
    <description>XmanDB</description>
    <res-ref-name>jdbc/xman</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>twoout.miniweb.servlet.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembersView</display-name>
    <servlet-name>MembersView</servlet-name>
    <servlet-class>twoout.miniweb.servlet.MembersView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembersView</servlet-name>
    <url-pattern>/MembersView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdCheck</display-name>
    <servlet-name>IdCheck</servlet-name>
    <servlet-class>twoout.miniweb.servlet.IdCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdCheck</servlet-name>
    <url-pattern>/IdCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberCRUD</display-name>
    <servlet-name>MemberCRUD</servlet-name>
    <servlet-class>twoout.miniweb.servlet.MemberCRUD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberCRUD</servlet-name>
    <url-pattern>/MemberCRUD</url-pattern>
  </servlet-mapping>
</web-app>